html
    include html/head
    body
        include html/header
        main.page
            p hello
            img(src="@img/doc.jpg")
        include html/footer
        script(src="js/app.min.js")